.nav-container ul {
  display: flex;
  justify-content: flex-end;
}

.nav-container li {
  margin: 10px;
  margin-right: 4rem;
  list-style-type: none;
  font-size: 19px;
  font-weight: bold;
  color: rgb(19, 18, 18);
  opacity: 0.9;
}

.contact a {
  color: #fff;
}

.nav-container li:hover {
  opacity: 0.7;
  transition: 0.5s all;
  color: #1e40af;
  transform: scale3d(1.1, 1.1, 1.1);
}

.nav-container {
  height: 90px;
}

#logo {
  position: absolute;
  margin-top: 10px;
  margin-left: 2rem;
  height: 52px;
  width: 225px;
}

.contact {
  border: none;
  color: #fff;
  padding: 15px 35px;
  border-radius: 14px;
  background-color: #1e40af;
}

.lio {
  margin-top: 1.7rem !important;
}

.header {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 999;
}

#logo {
  cursor: pointer;
}

.ino {
  margin: 10px;
  border: none;
  padding: 10px 35px;
}

textarea {
  margin: 10px;
  padding: 45px 20px;
}

@media (max-width: 1102px) {
  .lio {
    display: none;
  }
}
