.container {
  margin: 20px;
  padding: 10px;
  display: flex;
}

.title {
  color: #1e3a8a;
  font-size: 54px;
  line-height: 1;
  margin: 40px;
  width: 60%;
}

.desc {
  font-size: 24px;
  font-weight: 500;
  margin: 40px;
  width: 60%;
  color: rgb(27, 27, 27);
}

.image {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  max-width: 100%;
}

.btn {
  margin: 40px;
  border: none;
  font-size: 35px;
  padding: 12px 30px;
  color: #fff;
  border-radius: 14px;
  background-color: #1e3a8a;
}

.commercial {
  margin-top: 5rem;
}

.second-container {
  display: flex;
  justify-content: center;
  margin-left: 12rem;
  padding: 20px;
  padding-bottom: 3.5rem;
}

.img2 {
  height: 440px;
}

.title2 {
  color: #1e3a8a;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
  margin: 40px;
  width: 60%;
}

.desc2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 40px;
  color: rgb(27, 27, 27);
  width: 50%;
}

.he {
  background-color: #1e3a8a;
  width: 100%;
  margin-bottom: 5rem;
  z-index: -999;
  height: 220px;
  opacity: 0.7;
  transform: skewY(175deg);
}

li {
  cursor: pointer;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
  transition: 0.5s all;
}

@media (max-width: 1270px) {
  .image {
    display: none;
  }

  .contact1 {
    display: flex;
    flex-direction: column;
  }

  .second-container {
    margin-left: 10px;
    width: 100%;
    flex-direction: column;
  }

  .four-container {
    flex-wrap: wrap;
  }

  .img2 {
    max-width: 100%;
    margin-right: 30px;
    max-height: 100%;
  }

  .box-container {
    display: flex !important;
    flex-wrap: wrap;
  }

  .portfolio {
    display: flex !important;
    flex-wrap: wrap;
    width: 100%;
  }

  .contact1 {
    display: flex;
  }
}

@media (max-width: 980px) {
  .lio {
    display: none;
  }
}

@media (max-width: 524px) {
  .contact {
    display: none;
  }
}

@media (max-width: 600px) {
  .title {
    margin: 10px;
    font-size: 32px;
  }

  .title2 {
    font-size: 1.7rem;
  }

  .container {
    margin: 4px;
    padding: 4px;
  }

  .second-container {
    padding: 0px;
  }

  .desc {
    margin: 20px;
  }
}
