.third-container {
  display: flex;
  justify-content: center;
  background-color: #f3f4f6;
}

.title3 {
  color: #1e3a8a;
  font-size: 42px;
  align-items: center;
  text-align: center;
  padding: 15px;
}

.third3 {
  padding: 20px;
}

.desc3 {
  color: #1e3a8a;
  font-size: 24px;
  font-weight: 500;
}

.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #f3f4f6;
  padding-bottom: 60px;
  border-radius: 14px;
}

.box-container img {
  width: 100px;
}

.av1,
.av2,
.av3,
.av4 {
  background-color: #fff;
  width: 80%;
  margin: 30px;
  height: 75%;
  padding: 20px;
  border-radius: 11px;
  box-shadow: 0 0 10px 5px rgb(104, 101, 101);
}

.av1:hover,
.av2:hover,
.av3:hover,
.av4:hover {
  background-color: #6b7280;
  color: #fff;
  cursor: pointer;
  transform: scale3d(1.1, 1.1, 1.1);
  transition: 0.5s all;
}

.first:hover,
.second:hover,
.third:hover,
.fourth:hover {
  background-color: #6b7280;
  color: #fff;
  cursor: pointer;
  transform: scale3d(1.1, 1.1, 1.1);
  transition: 0.5s all;
}

.four-container {
  background-color: #fff;
  display: flex;
  margin: 10px;
  padding: 10px;
  justify-content: center;
}

.left,
.right {
  width: 35%;
  padding: 10px;
  margin: 10px;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #f3f4f6;
  padding-bottom: 60px;
  border-radius: 14px;
}

.first,
.second,
.third,
.fourth {
  background-color: #fff;
  margin: 30px;
  padding: 20px;
  border-radius: 11px;
  box-shadow: 0 0 10px 5px rgb(228, 224, 224);
}

.ortala {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-top: 20px;
  background-color: #f3f4f6;
  color: #1e3a8a;
}

.br {
  width: 260px;
  border-bottom: 4px solid #1e3a8a;
}

.port {
  font-size: 35px;
  align-items: center;
  text-align: center;
}

.contact1 {
  background-color: #6b7280;
  padding: 30px;
  color: #fff;
  font-size: 27px;
  padding-bottom: 5rem;
}

.footer {
  padding: 30px;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
}

.left-side {
  background-color: #ffffff;
  width: 350px;
  padding: 20px;
  box-shadow: 0 0 10px 5px rgb(107, 103, 103);
}

.links {
  font-size: 24px;
  color: #1e3a8a;
  margin-left: 15rem;
}

.links li {
  margin: 10px;
  font-size: 21px;
  color: #1e3a8a;
}
